.stars {
  --star-size: 25px;
  --star-color: #fff0;
  --star-background: #F9A825;
  --letter-spacing: 5px;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  margin:auto;
  margin-bottom: 10px;
  transform: scale(-1, 1);  
}
.stars::before {
  content: '★★★★★';
  letter-spacing: var(--letter-spacing);
  background: linear-gradient(-90deg, var(--star-background) calc(var(--percent) + var(--letter-spacing)/2), var(--star-color) calc(var(--percent) + var(--letter-spacing)/2));
  -webkit-text-stroke: 1.5px var(--star-background);
  -webkit-background-clip: text;
  background-position: center;
  -webkit-text-fill-color: transparent;
}
